@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color:#fff;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(rgba(0,0,0,.75),rgba(0,0,0,.75)),url('../public/images/bg.jpg');
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}

/* Hide Scrollbar */

html::-webkit-Scrollbar{
  display:none;
}

/*Container*/
.container{
  width: 70%;
  margin: 2vh auto;
  min-height:85vh;
  background: rgba( 255, 255, 255, 0.20 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 3.0px );
  -webkit-backdrop-filter: blur( 3.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  overflow:scroll;
}
.container::-webkit-scrollbar{
  display: none;
}

a{
  text-decoration:none;
}

/*Mobile View*/
@media screen and (max-width:768px){
.container{
  width: 90%;
  display: block;
  position: relative;
  margin: 2vh auto;
  padding-top: 50px;
  overflow: scroll;
  max-height: 70vh;
}
}