/* Skills Component */

.skill-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 30px;
    margin: 10px 20px;
  }
  
  .content-section p{
    text-align: center;
    font-size: 30px;
    margin-bottom: 2vh;
  }
  .skill-progress{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .other-skills-container{
    margin: 2vh 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .other-skills {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-wrap: wrap;
  }
  .oskill{
    display:flex;
    align-items: center;
    flex-direction: column;
  }
  
  @media only screen and (max-width:768px){
    .skill-container{
        grid-template-columns: auto auto;
    }
  }